<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.wsp.listeners.TestListener"/>
    </listeners>
    <test parallel="classes" thread-count="4" name="SeleniumFramework">
        <classes>
            <class name="com.wsp.tests.HomePageTest"/>
            <class name="com.wsp.tests.CompletePayment"/>
        </classes>
    </test>
</suite>